/* chat application stylesheet */
#messages{
	width: 90%;
	height: 500px;
	margin: auto;
	border-radius: 10px;
	border:1px solid #27BC4B;
	overflow: auto;
}
#feedback{
	height: 20px;
	font-family: 'Comfortaa', cursive;
}
.container_left{
	float: left;
	width:60%;
	height: 500px;
}
.container_right{
	float:right;
	width: 40%;
	height: 500px;
}
.row_upper{
	width: 100%;
	height: 50%:;
}
.row_lower{
	width: 100%;
	height: 20%;
}
h1{
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
	color: #27BC4B;
}
label{
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	color: #27BC4B;
	
}
#sender,#message{
	width: 300px;
	border: 1px solid #27BC4B;
}
#sender{
	height: 50px;
	border-radius: 50px;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;	
}
#message{
	height: 60px;
	border-radius: 50px;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
}
.col1{
	float: left;
	width: 40%;
}
.col2{
	float: right;
	width: 60%;
}
#send{
	height: 35px;
	width: 180px;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	border-radius: 50px;
	border: 1px solid #27BC4B;
	color: #27BC4B;
}